# Step 1: Preparing the data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df  = pd.read_csv('House.csv')

In [3]:
df.drop(['id'], axis=1, inplace=True)

In [4]:
df.drop(['date'], axis=1, inplace=True)

In [5]:
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Step 2: Buliding the model

### Steps to build your model:
#### 1. Define: What type of model will it be? A decision tree?
#### 2. Fit: Capture patterns from provided data.
#### 3. Predict: Just what it sounds like
#### 4. Evaluate: Determine how accurate the model's predictions are

### 1. Define

In [6]:
y = df.price

In [7]:
df.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [8]:
X_col = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15']
X = df[X_col]

In [9]:
from sklearn.ensemble import RandomForestRegressor
from sklearn import linear_model

model_1 = RandomForestRegressor(n_estimators = 10, random_state = 30)
model_2 = linear_model.LinearRegression()

models = [model_1, model_2]

### 2. Fitting (train)

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3, random_state=20)

In [11]:
model_1.fit(X_train, y_train)
model_2.fit(X_train, y_train)

LinearRegression()

### 3. Predict

In [12]:
prediction_test_1 = model_1.predict(X_test)
prediction_test_2 = model_2.predict(X_test)

### 4. Evaluate

In [13]:
from sklearn.metrics import mean_absolute_error
print("MAE = ", mean_absolute_error(y_test, prediction_test_1))
print("MAE = ", mean_absolute_error(y_test, prediction_test_2))

MAE =  74060.32615485738
MAE =  126491.15397388197